<div class='container'>
  <div class='text-wrapper'>
      <h1 class='title'>QuoteMe!</h1>
  </div>
  <div class='quote'>
      <blockquote class="blockquote text-center">
          <p class="mb-0"> Every man is a quotation from all his ancestors.</p>
            <footer class="blockquote-footer">Ralph Waldo Emerson</footer>
          </blockquote>
  </div>
  <div>
      <app-quote-form></app-quote-form>
      <div class='col-md-6'>
          <h1>Quotes</h1>
          <ul>
              <li *ngFor='let quote of quotes'>
                {{quote.name}}
              </li>
          </ul>
        </div>
  </div>

</div>
